<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input  matInput
            type="number"
            [min]="minimum"
            [max]="maximum"
            [step]="step"
            [placeholder]="title"
            [name]="controlName"
            [formControlName]="controlName">
    <mat-error *ngIf="validate.hasErrorValid(formControl, 'required')">Required</mat-error>
    <mat-error *ngIf="validate.hasErrorValid(formControl, 'min')">
      minimum required is {{validate.lengthValidate(formControl, 'min')}}
    </mat-error>
    <mat-error *ngIf="validate.hasErrorValid(formControl, 'max')">
      maximum required is {{validate.lengthValidate(formControl, 'max')}}
    </mat-error>
  </mat-form-field>
</div>
