.mat-card-image {
  max-width: 180px;
  margin: auto;
  display: block;
}

@media (max-width: 760px) {
  .mat-card {
    width: 85%
  }
  .mat-list {
    margin-bottom: 20px;
  }
  .list-mat {
    margin-top: -21px;
  }

}
