@import 'reset';
@import 'themes';

body {
  margin: 0;
}

.center {
  margin: 10px auto;
}

.width50 {
  width: 50%;
}

.width75 {
  width: 75%;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.float-left {
  float: left;
}

.margin10 {
  margin: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-button-0 {
  margin-bottom: 0;
}

.margin-button-10 {
  margin-bottom: 0;
}

.padding10 {
  padding: 10px;
}

.break-line {
  white-space: pre-line;
}

.main-colors {
  background: #000000;
  color: #03e3ff;
}

.color-white {
  color: #ffff;
}

.redirect {
  font-size: 14px;
  color: #03e3ff;

  .material-icons {
    font-size: 12px;
    margin-right: 5px;
  }
}
